@tailwind base;

/* Firefox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
} */

/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
} */

@tailwind components;
@tailwind utilities;


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    /* width: 1em;
    height: 1em; */
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #656a6f;
  }

  .svg-icon circle {
    stroke: #656a6f;
    stroke-width: 1;
  }
